# Node.js
node_modules/
npm-debug.log
package-lock.json
yarn.lock

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
